body, html{
  height:100%;
  margin: 0;
}
.jumbotron{
  background-color: #c52233;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-transform: uppercase;
  text-align: center;
  color:white;
  font-family:coda;
  font-weight: bold;
}

.text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
nav{
  text-transform: uppercase;
  text-align: center;
  color:black;
  font-family:coda;
}
ul{
  list-style-type: none;
}

li{
  display: inline-block;
  padding: 3px;
}

li a{
  color:white;
}

li a:hover{
  color: grey;
  list-style-type: none;
}

.active{
  color:grey;
}
.colomn{
  float: left;
  padding: 25px;
}

.colomn.main{
  width: 60%;
}

.colomn.side{
  width: 20%;
}

body{
  text-align: center;
  color:black;
  font-family: open sans;
}
img.resize{
  max-height: 80%;
  max-width: 80%;
  padding: 25px;
}